@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Carrois Gothic SC', sans-serif;
    background-color: #040404;
}

/* CONTEÚDO DA PÁGINA */

.container_destino {
    background-color: #ffebb808;
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
}

.box_images {
    height: 100%;
    padding: 10px 80px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.box_text_oriente {
    border-image: linear-gradient(transparent 10%, #F9A487 10% 90%, transparent 90%) 0 0 0 1 / 3px;
    color: white;
    width: 500px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.box_text_europa {
    border-image: linear-gradient(transparent 10%, #74DCDB 10% 90%, transparent 90%) 0 0 0 1 / 3px;
    color: white;
    width: 500px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.box_text_america {
    border-image: linear-gradient(transparent 10%, #74dc7d 10% 90%, transparent 90%) 0 0 0 1 / 3px;
    color: white;
    width: 500px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.title {
    color: white;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    line-height: 25px;
}

.general_content {
    margin-bottom: 30px;
}

.general_information {
    font-size: 18px;
    text-shadow: 0.1px 0.1px #f7c43b;
}

/* PÁGINA CONTATO */

.container_contato {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: sans-serif;
}

.login-box {
    width: 450px;
    padding: 40px;
    background: rgba(53, 52, 51, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 30px 45px 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 12px 0px 5px 0px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ffee00ce;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: white;
    font-size: 12px;
}

.message {
    display: flex;
    flex-direction: column;
    color: white;
}

textarea {
    resize: none;
    border: #ffee00ce 0.5px solid;
    margin-top: 10px;
    height: 100px;
    background-color: #ffffffef;
    font-family: 'Share Tech Mono', monospace;
    color: #242322;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    color: #e7dd47;
    font-size: 18px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 2px;
}

.login-box a:hover {
    background: #ffee00ce;
    color: #fff;
    box-shadow: 0 0 5px #ffee00be, 0 0 25px #ffee00be, 0 0 50px #ffee00be;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffee00ce);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffee00ce);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffee00ce);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffee00ce);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.contato {
    color: white;
    width: 500px;
    padding: 40px;
    background: rgba(53, 52, 51, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    line-height: 25px;

}

.contato h2 {
    margin-bottom: 40px;
}